<div class="card mb-2">

  <div class="card-body">

    <div class="row">
      <div class="col-6">Nombre</div>
      <div class="col-6"><span class="fw-bold">iBroker</span></div>
  </div>
    <div class="row">
      <div class="col-6">Descripción</div>
      <div class="col-6">4432365</div>
  </div>
  <div class="row">
    <div class="col-6">Estado</div>
    <div class="col-6"><span class="text-info">Activa</span></div>
  </div>
    <div class="row">
        <div class="col-6">Apertura</div>
        <div class="col-6">10.000€</div>
    </div>
    <div class="row">
      <div class="col-6">Actual</div>
      <div class="col-6">15.650€</div>
    </div>
    <div class="row">
      <div class="col-6">Resultado</div>
      <div class="col-6">5.650€</div>
    </div>


  </div>




  <div class="card-footer text-muted">
    <a href="#">Ver esta cuenta</a>
    | 
    <a href="#">Ocultar</a>
  </div>
</div>