  <div class="card mb-2">

    <div class="card-body">
  
      <div class="row">
        <div class="col-6">Nombre</div>
        <div class="col-6"><span class="fw-bold">{{account.name}}</span></div>
    </div>
      <div class="row">
        <div class="col-6">Descripción</div>
        <div class="col-6">{{account.description}}</div>
    </div>
    <div class="row">
      <div class="col-6">Estado</div>
      <div class="col-6"><span class="text-info">{{account.status}}</span></div>
    </div>
    <div class="row">
      <div class="col-6">Tipo</div>
      <div class="col-6"><span class="text-info">{{account.acctype}}</span></div>
    </div>
      <div class="row">
          <div class="col-6">Apertura</div>
          <div class="col-6">{{account.amount_initial}}</div>
      </div>
      <div class="row">
        <div class="col-6">Actual</div>
        <div class="col-6">{{account.amount_current}}</div>
      </div>
      <div class="row">
        <div class="col-6">Resultado</div>
        <div class="col-6">$$PENDING$$</div>
      </div>
      <div class="row">
        <div class="col-6">IdBroker</div>
        <div class="col-6"><span class="fw-bold">{{account.idbroker}}</span></div>
    </div>
    <div class="row">
      <div class="col-6">Iddivisa</div>
      <div class="col-6"><span class="fw-bold">{{account.iddivisa}}</span></div>
  </div>

    </div>
  
    <div class="card-footer text-muted">
      <a href="#">Ver esta cuenta [ID: {{account.idaccount}}]</a>
      | 
      <a href="#">Ocultar</a>
    </div>
  </div>
