<div class="card-deck">
    <div class="card mb-2">
        <div class="card-body">
            <h4 class="card-title">
                [Cuenta-broker: {{position.Idaccount}}] [ticker: MCL]
                <br>
                Acción: <span class="text-warning">{{position.Buysell}}</span>
                <br>
                Estado: <span class="text-danger fs-bold">{{position.Status}}</span>
            </h4>            
            <small class="card-text">Divisa: {{position.Iddivisa}}</small>
            <br>            
            <small class="card-text">
                Price: {{position.Pricein}} to {{position.Priceout}}
                |
                Contratos: {{position.Contracts}}
                |
                Ticks: <span class="text-green">{{position.Ticks}}</span>
            </small>
            <br>
            <small class="card-text">
                Comisión: <span class="text-green">{{position.Commision}}</span>
                |
                Euros: {{position.Euros}}
                |
                DollarEuro: {{position.Dollareuro}}
            </small>
            <br>
            <small class="card-text">Time: {{position.Datetimein}} to {{position.Datetimeout}}</small>
            
            
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-8">
                    <a href="#">Revisar operación [Id: {{position.Idposition}}]</a>
                </div>
                <div class="col-4">
                    <a href="#">Ocultar</a>
                </div>
            </div>                
        </div>
    </div>
</div>