<div class="card mb-2">
    <div class="card-body">
        <h4 class="card-title">
            [Cuenta-broker: {{position.idaccount}}] [ticker: {{position.ticker}}]
            <br>
            Acción: <span class="text-warning">{{position.buysell}}</span>
            <br>
            Estado: <span class="text-danger fs-bold">{{position.status}}</span>
            <br>
            Patrón-Setup: <span class="text-warning">{{position.pattern}} / {{position.setup}}</span>
        </h4>            
        <small class="card-text">Divisa: {{position.iddivisa}}</small>
        <br>            
        <small class="card-text">
            Price: {{position.pricein}} to {{position.priceout}}
            |
            Contratos: {{position.contracts}}
            |
            Ticks: <span class="text-green">{{position.ticks}}</span>
        </small>
        <br>
        <small class="card-text">
            Comisión: <span class="text-green">{{position.commision}}</span>
            |
            Euros: {{position.euros}}
            |
            DollarEuro: {{position.dollareuro}}
        </small>
        <br>
        <small class="card-text">Time: {{position.datetimein}} to {{position.datetimeout}}</small>                
    </div>

    <div class="card-footer">
        <div class="row">
            <div class="col-8">
                <a href="#">Revisar operación [Id: {{position.idposition}}]</a>
            </div>
            <div class="col-4">
                <a href="#">Ocultar</a>
            </div>
        </div>                
    </div>

</div>
