<div class="card-deck">
    <div class="card mb-2">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h6 class="card-title">[iBroker] [MCL]</h6>

            <small class="card-text">Acción: <span class="text-warning">VENDER</span></small>
            <br>
            <small class="card-text">Price: 88,82 to 88,01 - Ticks: <span class="text-green">+81</span></small>
            <br>
            <small class="card-text">Time: 15:25 to 16:01 - 36 minutes</small>
            <br>
            <small class="text-danger">CLOSED</small>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <a href="#">Revisar operación</a>
                </div>
                <div class="col-6">
                    <a href="#">Ocultar</a>
                </div>
            </div>                
        </div>
    </div>
</div>