<div class="row mb-2">

  <div class="col-4">      
    <div class="card  h-100">
      <div class="card-header text-white bg-primary">
        Operativa diaria
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Tickers</a>
        <br>
        <a href="#" class="card-link">Horarios de operativa</a>
        <br>
        <a href="#" class="card-link">Profit y stop loss</a>
        <br>
        <a class="card-link"href="/tpps" routerLinkActive="active" title="Tpps">Tpps</a>
      </div>
    </div>
  </div>

  <div class="col-4">      
    <div class="card text-dark bg-light h-100">
      <div class="card-header">
        Informes y gráficos
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Configuración de bloques de operaciones</a>
        <br>
        <a href="#" class="card-link">Rangos temporales en gráficos</a>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card  h-100">
      <div class="card-header text-white bg-danger">
        Sistema
      </div>
      <div class="card-body">
        <a href="#" class="card-link" title="Credenciales y conexiones">
          Base de datos</a>
        <br>
        <a href="#" class="card-link" title="Nombres y ubicación de archivos locales">
          Archivos de registro locales</a>
      </div>
    </div>
</div>

</div>

<!-- -------------------------------------------------------------------------------------------- -->

<div class="row">

  <div class="col-4">      
    <div class="card  h-100">
      <div class="card-header text-white bg-primary">
        Cuentas y Brokers
      </div>
      <div class="card-body">
        <a href="#" class="card-link">Cuentas</a>
        <br>
        <a class="card-link"href="/brokers" routerLinkActive="active" title="Brokers">Brokers</a>
        <br>
        <a href="#" class="card-link">Mercados y tickers</a>
        <br>
        <a href="#" class="card-link">Divisas</a>
      </div>
    </div>
</div>

  <div class="col-4">      
    &nbsp;
  </div>

  <div class="col-4">
    <div class="card  h-100">
      <div class="card-header text-dark bg-warning">
        Mantenimiento del sistema
      </div>
      <div class="card-body">
        <a href="#" class="card-link" title="Analiza y valida los datos locales (localStorage) y los datos almacenados (DB y nube)">
          Análisis de integridad de datos (localStorage, DB y nube)</a>
        <br>
        <a href="#" class="card-link" title="Valida la integridad de datos en localStorage">
          Validación e integridad de archivos temporales</a>
          <br>
        <a href="#" class="card-link">Backup</a>
        <br>
        <a href="#" class="card-link">Importar datos</a>
        <br>
        <a href="#" class="card-link">Exportar datos</a>
      </div>
    </div>
</div>

</div>


<!-- ---------------------------------------------------------------------------- -->
