<div class="card mb-2">
    <div class="card-body">
        <div class="row bg-light small">

            <div class="col-5 col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-3 col-md-6  col-sm-12">Block: {{position.block}}</div>
                                     
                    <div class="col-3 col-md-6 col-sm-12">Ticker: {{position.tickerid}}</div>
                    <div class="col-3 col-md-6 col-sm-12">Id: {{position.id}}</div>  
                    <div class="col-3 col-md-6 col-sm-12">Duration: 20 min</div>
                </div>
            </div>
 

            <div class="col-5 col-md-5 col-sm-5">
                <div class="row">
                    <div class="col-4"> 
                        Buysell:<br/>
                        <span class="text-primary font-weight-bold">
                             <span *ngIf="position.buysell == 'buy'">Cortos</span>
                             <span *ngIf="position.buysell != 'buy'">Largos</span>
                        </span>
                    </div>
                    <div class="col-3"> 
                        <span class="text-primary">Ticks:<br/>{{position.ticks}}</span>
                    </div>
                    <div class="col-5 text-danger">
                        Profit / Stoploss :<br/>{{position.profit}}/{{position.stoploss}} 
                    </div>
                    
                </div>
            </div>

            <div class="col-2 col-md-2 col-sm-2">
                Status :<br/>{{position.status}}
            </div> 
          
        </div>                        
    </div>
</div>
