<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-6 text-left">Operaciones en operativa diaria</div>
      <div class="col-6 text-right">Martes 04/04/2023</div>
    </div>
  </div>

  <div class="card-body">        
    <div class="row">

    <div class="col-12">
      <!-- rows (positions) -----------------------------------------------------------------  -->    
      <div *ngFor="let position of positions" class="mb-2">            

          <app-op-open-operation [position]="position"></app-op-open-operation>

      </div>    
    </div>


    </div>
    </div>
</div>
