

<!-- -------------------------------------------------------- -->

<div class="container-fluid p-0">

    <div class="row bg-light small">

            <div class="col-lg-9 col-md-9 col-sm-12 mt-1 mb-1">

                    <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                                    <div title="Ticker">
                                            {{position.ticker}} - 
                                            <span class="text-start" title="Status and Buysell">{{position.status}}
                                            
                                                - ( <span class="text-primary font-weight-bold">
                                                    <span *ngIf="position.buysell == 'buy'">Buy</span>
                                                    <span *ngIf="position.buysell != 'buy'">Sell</span>
                                                    </span> 
                                                )
                                                </span>
                                            <br>
                                            <div  title="Account (Broker) [accType]">{{position.account}} ({{position.broker}}) [{{position.acctype}}]</div>
                                            <div title="Block"> Block (Id): {{position.block}} ( {{position.id}} )</div>
                                            <div  title="Pattern/setup">Pattern (setup): {{position.pattern}} ( {{position.setup}} ) </div>
                                            
                                    </div>
                                   
                                </div>                                      
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                                
                                <div title="datetimeIN">Date: {{position.datetimein}}</div>
                                <div title="Price IN">{{position.pricein}} &euro; IN </div>
                                <div title="Ver">(Ver gráfico) (<span title="{{position.note}}">Ver nota</span>) </div>
                                <div title="Ver">Temporality: {{position.temporal}} </div>
                            </div>
                                
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                            
                                    <div class="form-group"> 
                                    <div title="price OUT"><input  type="text" /> &euro; OUT  </div>
                                    </div>
                                
                                    <div class="form-group"> 
                                    <div title="price OUT"><input type="text"  /> Ticks </div>
                                    </div>

                                    <div class="form-group"> 
                                    <div title="TPP">TPP: {{position.tpp}}</div>
                                    </div>
                            </div>

                    </div>             
            </div>
          

            <div class="col-lg-3 col-md-3 col-sm-12 p-0 m-auto d-flex">

                  <div class="row w-100">
                    <div class="col">
                        <div class="form-group  d-block w-100 p-1">
                            <button type="button" class="btn btn-primary w-100">Cerrar</button>            
                           
                          </div>
                      <div class="form-group  d-block w-100 p-1">
                        <button type="button" class="btn btn-outline-success w-100">Profit</button>             
                       
                      </div>
                      <div class="form-group  d-block w-100 p-1">
                        <button type="button" class="btn btn-outline-danger w-100">Stoploss</button>            
                       
                      </div>
                      
                    </div> 
                  </div>

                


                      
            </div>                                       
</div>
