<div class="card text-center">
    <div class="card-header bg-light text-white ">        
    </div>

    <div class="card-body">
        <div class="row bg-light small">

            <div class="col-3 ">
                <div class="row">
                    <div class="col-4">Block:<br/>{{position.block}}</div>
                    <div class="col-4">Id:<br/>{{position.id}}</div>                    
                    <div class="col-4">Ticker:<br/>{{position.tickerid}}</div>
                </div>
            </div>
            
            <div class="col-3 ">
                <div class="row">
                    
                    <div class="col-6">2023/0407</div>
                    <div class="col-6">datetimein:<br/>{{position.datetimein}}</div>
                </div>
            </div>
            
            <div class="col-5 ">
                <div class="row">
                    <div class="col-3"> 
                        Buysell:<br/>
                        <span class="text-primary font-weight-bold">
                             <span *ngIf="position.buysell == 'buy'">Vender</span>
                             <span *ngIf="position.buysell != 'buy'">Comprar</span>
                        </span>
                    </div>
                    <div class="col-3"> 
                        <span class="text-primary">Pricein:<br/>{{position.pricein}}</span>
                    </div>
                    <div class="col-3 text-danger">
                        Pattern / Setup :<br/>{{position.patternid}}/{{position.setupid}} 
                    </div>
                    <div class="col-3 text-success">
                        Status:<br/> {{position.status}}
                    </div>
                </div>
            </div>
            
            <div class="col-1 ">
                <div class="row">    
                    <div class="col-6"><button type="button" name="" id="" class="btn btn-success btn-sm btn-block">S</button></div>
                    <div class="col-6"> <button type="button" name="" id="" class="btn btn-secondary btn-sm btn-block" title="Close">C</button></div>    
                </div>
            </div>            
        </div>                        
    </div>
</div>
