<!--
<div class="container-fluid p-0">

        <div class="row bg-light small">

            <div class="col-6 col-lg-4 col-md-4 col-sm-2 ">
                <div class="row">
                    <div class="col-4 col-md-4 col-sm-6 text-start" title="Ticker">Ticker: {{position.ticker}}</div>                    
                    <div class="col-8 col-md-8 col-sm-6 text-end" title="Id">Id: {{position.id}}</div>                    
                    <div class="col-4 col-md-4 col-sm-6 text-start" title="Block">Block: {{position.block}}</div>
                    <div class="col-8 col-md-8 col-sm-6 text-end" title="datetimeIN"><input type="text" disabled value="{{position.datetimein}}" /></div>
                </div>
            </div>
                        
            <div class="col-5 col-lg-5 col-md-6 col-sm-9">
                <div class="row">
                    <div class="col-4 col-md-4 col-sm-3 text-start" title="Pattern and setup">Pattern/Setup:  </div>                    
                    <div class="col-8 col-md-8 col-sm-9 text-end" title="Price IN">
                        &euro; IN: <input type="text" disabled value=" {{position.pricein}}" /></div>                    
                    <div class="col-4 col-md-4 col-sm-3 text-start" title="Buy or sell"> 
                        {{position.pattern}}/{{position.setup}}
                    </div>
                    <div class="col-8 col-md-8 col-sm-9 text-end" title="datetimeOUT">&euro; OUT: <input type="text" /></div>
                </div>
            </div>
            
            <div class="col-1 col-lg-3 col-md-2 col-sm-1">
                <div class="row"> 
                    <div class="col-6 col-sm-6 text-success text-center" title="Status and Buysell">
                        {{position.status}}
                        <br/>
                        ( <span class="text-primary font-weight-bold">
                            <span *ngIf="position.buysell == 'buy'">Buy</span>
                            <span *ngIf="position.buysell != 'buy'">Sell</span>
                            </span> 
                        )
                    </div>   
                    <div class="col-3 col-sm-3"><button type="button" name="" id="" class="btn btn-success btn-sm btn-block">S</button></div>
                    <div class="col-3 col-sm-3"> <button type="button" name="" id="" class="btn btn-secondary btn-sm btn-block" title="Close">C</button></div>    
                </div>
            </div>            
        </div>                        
</div>
-->

<!-- -------------------------------------------------------- -->

<div class="container-fluid p-0">

    <div class="row bg-light small">

            <div class="col-lg-8 col-md-12 col-sm-12 mt-1 mb-1">

                    <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                                    <div title="Ticker">
                                            {{position.ticker}} - 
                                            <span class="text-start" title="Status and Buysell">{{position.status}}
                                            
                                                - ( <span class="text-primary font-weight-bold">
                                                    <span *ngIf="position.buysell == 'buy'">Buy</span>
                                                    <span *ngIf="position.buysell != 'buy'">Sell</span>
                                                    </span> 
                                                )
                                                </span>
                                            <br>
                                            <div  title="Account (Broker) [accType]">{{position.account}} ({{position.broker}}) [{{position.acctype}}]</div>
                                            <div title="Block"> Block (Id): {{position.block}} ( {{position.id}} )</div>
                                            <div  title="Pattern/setup">Pattern (setup): {{position.pattern}} ( {{position.setup}} ) </div>
                                            
                                    </div>
                                   
                                </div>                                      
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                                
                                <div title="datetimeIN">Date: {{position.datetimein}}</div>
                                <div title="Price IN">{{position.pricein}} &euro; IN </div>
                                <div title="Ver">(Ver gráfico) (<span title="{{position.note}}">Ver nota</span>) </div>
                                <div title="Ver">Temporality: {{position.temporal}} </div>
                            </div>
                                
                            <div class="col-lg-4 col-md-4 col-sm-12 text-start">
                            
                                    <div class="form-group"> 
                                    <div title="price OUT"><input  type="text" /> &euro; OUT  </div>
                                    </div>
                                
                                    <div class="form-group"> 
                                    <div title="price OUT"><input type="text"  /> Ticks </div>
                                    </div>

                                    <div class="form-group"> 
                                    <div title="TPP">TPP: {{position.tpp}}</div>
                                    </div>
                            </div>
                    </div>             
            </div>
          

            <div class="col-lg-4 col-md-12 col-sm-12 p-0 m-auto d-flex">

    
                
                    <div class="row">
                        <div class="col">
                          <div class="form-group  d-block w-100 p-1">
                            <button type="button" id="edit" class="btn btn-primary  w-100">Cerrar</button>             
                          </div>
                        </div> 
                      </div>

                    <div class="row">
                        <div class="col">
                          <div class="form-group  d-block w-100 p-1">
                            <button type="button" id="edit" class="btn btn-outline-success  w-100">Profit</button>             
                          </div>
                        </div> 
                      </div>
    
                      <div class="row">
                        <div class="col">
                          <div class="form-group  d-block w-100 p-1">
                            <button type="button" id="edit" class="btn btn-outline-danger  w-100">Stoploss</button>             
                          </div>
                        </div> 
                      </div>

                      
            </div>                                       
</div>
