<div class="card-deck ">
    <div class="card mb-2 h-100 block">
        <div class="card-header">
            <h6 class="card-title">Report Operations</h6>             
        </div>

        <div class="card-body">           

            <div class="row">

                <div class="col-4">
                    <h6 class="card-title">Ticks</h6>
                    <div class="chart-container" >
                        <canvas id="myOperationsTicksChart"></canvas>
                    </div>

                </div>
                <div class="col-4">
                    <h6 class="card-title">Operacions pos+ y neg-</h6>
                    <div class="chart-container" >
                        <canvas id="myOperationsPosNegChart"></canvas>
                    </div>

                </div>

                <div class="col-4">
                    <h6 class="card-title">Tabla de resultados</h6>
                    
                </div>

            </div>


        </div>

    </div>
</div>