<div class="card border-primary">  
   

    <div class="row">
        <div class="col-12">
            <div class="card w-100">
                <div class="card-header">
                    
                    <div class="row">
                        <div class="col-12">
                            <h4>[iBroker] [MCL]</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Acción: 
                        </div>
                        <div class="col-4 text-warning">
                            COMPRAR
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Estado: 
                        </div>
                        <div class="col-4">
                            <span class="text-success">OPEN</span>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-8">
                            Cuenta: 
                        </div>
                        <div class="col-4">
                            <span class="text-info">iBroker</span>
                        </div>                        
                    </div>
                </div>





                <div class="card-body">

    
                    <div class="row mb-2">
    
                        <div class="col-6">
                            <div class="card w-100">
                                <div class="card-header">
                                    Time
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            IN
                                        </div>
                                        <div class="col-6">
                                            15:10
                                        </div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-6">
                                            OUT
                                        </div>
                                        <div class="col-6">
                                            15:15
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-8">
                                            Minutes
                                        </div>
                                        <div class="col-4">
                                            5
                                        </div>
                                    </div>                
                                </div>
                                
                            </div>
                        </div>
                    
                        <div class="col-6">
                            <div class="card w-100">
                                <div class="card-header">
                                    Price
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            IN
                                        </div>
                                        <div class="col-6">
                                            88,01
                                        </div>
                                    </div>
                    
                                    <div class="row">
                                        <div class="col-6">
                                            OUT
                                        </div>
                                        <div class="col-6">
                                            88,82
                                        </div>
                                    </div>
                    
                                </div>
                    
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-6">
                                            Ticks
                                        </div>
                                        <div class="col-6">
                                            +81
                                        </div>
                                    </div>                
                                </div>
                    
                            </div>
                        </div>
                    
                    </div>



                </div>




                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary w-100">Cerrar operación</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-danger w-100">Cancelar</button>
                        </div>
                    </div>                
                </div>


            </div>
        </div>
    </div>
    


</div>




