<nav class="navbar navbar-expand-lg navbar-light bg-light text-black fixed-top">
    <div class="container-fluid">
      <div class="pt-2">
            <a class="navbar-brand" href="/">
              Ro-Trading
            </a>
    </div>
          
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse mt-auto" id="navbarSupportedContent">
       

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                      <!--
                  <li class="nav-item">
                    <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="active">Home</a>
                  </li>
                  -->
          
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/operativa" routerLinkActive="active" title="Registros de operativa">Operativa</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/posiciones" routerLinkActive="active" title="Operativa manual">Posiciones</a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/analisis" routerLinkActive="active" title="Análisis de datos">Análisis</a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/configuracion" routerLinkActive="active" title="Configuración">Configuración</a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/ayuda" routerLinkActive="active" title="">Ayuda</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active" title="Test">Test</a>
                  </li>
               

                
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            

      </div>

      <div class="pt-3 px-3 h4">
        <div id="currentDateTime" name="currentDateTime" ><b>{{currentDateTimeHead}}</b></div>
      </div>


    </div>
  </nav>