<div class="card-deck">
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="card-title">Gráfico mensual</h6>             
        </div>

        <div class="card-body">
            <h6 class="card-title">Vista de gráfico mensual</h6>

            <div class="chart-container" >
                <canvas id="myMonthChart"></canvas>
            </div>

        </div>

        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <a href="#">Revisar este gráfico</a>
                </div>
                <div class="col-6">
                    <a href="#">Ocultar</a>
                </div>
            </div>                
        </div>
    </div>
</div>