   
 <div class="container-fluid">
  <div class="card">
               
    <app-common-title [title]="'Listado'" [bg]="'secondary'"  [color]="'black'"  [backuri]="'tpps'"></app-common-title>
    <app-common-subtitle [subtitle]="'Trading plans'"></app-common-subtitle>
              
         
            <!-- =================================================== -->
            <!-- =================================================== -->

            <div class="card-body">
            <div class="container-fluid">

                        <!-- <div *ngFor="let item of items" class="shadow-lg col-sm-4 p-3"> -->
                        <div *ngFor="let item of items" class="p-1"> 
                          <app-tpp-card [item]="item" ></app-tpp-card>
                        </div>

            </div>
            </div>

            <!-- =================================================== -->
            <!-- =================================================== -->


            <div class="card-footer text-muted">
              Nuevo:  <button title="Add new item" class="btn btn-primary m-2" routerLink="/tpp-add">
                <i class="fa fa-plus"></i>
              </button>
            </div>

</div>
</div>