Este panel ha sido diseñado para estar a la izquierda (visible para el ojo izquierdo humano).
a la izquierda, izquierda, el diario e impresiones subjetivas (subjetivo, recuerdos, impresiones).
a la derecha o derecha, derecha, las operaciones en curso que deben ser "revisadas de forma contínua con el ojo derecho humano (objetivo y creativo)"

<div class="row">



  <div class="col-5">
<div class="row">
    <div class="col-5">
        <app-op-panel-accounts></app-op-panel-accounts>
        <app-op-calendar></app-op-calendar>
    </div>
  
    <div class="col-7">
        <app-op-panel-closed-operations></app-op-panel-closed-operations>
    </div>
</div>
  </div>

  <div class="col-7">
      <app-op-panel-open-operations></app-op-panel-open-operations>
      <app-op-panel-new-operation></app-op-panel-new-operation>
  </div>

</div>
