<div class="container-fluid p-0">

 
        <div class="row border bg-light px-2 mx-1">
                <div class="col-3">
                        
                        <div>
                                <span class="text-session">{{position.sessionid}}</span>
                        </div>
                        <div>
                               <small><em>{{position.account}}</em></small>
                        </div>  
                        <div>
                                {{position.tpp}} : Block {{position.tppblocksec}} : Sec {{position.sec}}
                        </div>                       
                </div>
                <div class="col-1">
                        <div>
                                <span *ngIf="position.status == 'opened'" class="text-primary">{{position.status}}</span>
                                <span *ngIf="position.status != 'opened'" class="text-secondary">{{position.status}}</span>
                        </div>
                        <div>
                                <span *ngIf="position.buysell.toLowerCase() == 'buy'" class="text-success">{{position.buysell}}</span>
                                <span *ngIf="position.buysell.toLowerCase() != 'buy'" class="text-danger">{{position.buysell}}</span> 
                        </div>                      
                </div>
                <div class="col-3">                        
                        <div>
                                <em>{{position.ticker}}</em>  
                        </div>  
                        <div>
                                [{{position.pattern}}] [{{position.pattern2id}}]
                        </div>
                        <div>
                                ({{position.setup1id}}) - {{position.setup}}
                        </div>               
                </div>
                
                <div class="col-2 small">
                        <div>
                                Hora IN: {{position.timein}}
                        </div>
                        <div>
                               Precio IN: {{position.pricein}}
                        </div>
                </div>

                <div class="col-2">
                       
                        <div>
                                Minutos: Pendiente
                        </div>                       
                        <div>
                                USDEUR: {{position.usdeur}}
                        </div>
                        <div>
                                &nbsp;
                        </div>
                      
                </div>


                <div class="col-1">
                        <button title="Editar" 
                                          class="btn btn-outline-success m-2 small d-block w-100" 
                                          routerLink="/position-edit/{{position.id}}">
                                           Editar
                                          </button>
                </div>
        </div>








