<div class="row mb-2">

  <div class="col-6">      
    <div class="card  h-100">
      <div class="card-header text-white bg-primary">
        Operativa diaria
      </div>
      <div class="card-body">
        <a class="card-link"href="/tpps" routerLinkActive="active" title="Trading plans">Trading plans</a>
        <br>
        <a class="card-link"href="/patterns" routerLinkActive="active" title="Patrones">Patrones</a>
        <br>
        <a class="card-link"href="/setups" routerLinkActive="active" title="Setups">Setups</a>
        <br>
        <a class="card-link disabled-link"href="#" routerLinkActive="active" title="Bloques de operaciones" disabled>Bloques de operaciones</a>
        <br>
        
      </div>
    </div>
  </div>

  
  <div class="col-6">
    <div class="card  h-100">
      <div class="card-header text-white bg-danger">
        Sistema
      </div>
      <div class="card-body">
        <a href="#" class="card-link disabled-link" title="Credenciales y conexiones">
          Base de datos</a>
        <br>
        <a href="#" class="card-link disabled-link" title="Nombres y ubicación de archivos locales">
          Archivos de registro locales</a>
      </div>
    </div>
</div>

</div>

<!-- -------------------------------------------------------------------------------------------- -->

<div class="row pt-4">

  <div class="col-6">      
    <div class="card  h-100">
      <div class="card-header text-white bg-primary">
        Cuentas y Brokers
      </div>
      <div class="card-body">
        <a href="#" class="card-link disabled-link">Cuentas y brokers</a>
        <br>
        <a href="#" class="card-link disabled-link">Mercados y tickers</a>
        <br>
        <a href="#" class="card-link disabled-link">Divisas</a>
        <br>
        <a class="card-link"href="/brokers" routerLinkActive="active" title="Brokers">Brokers</a>
       
        <br>
        <a href="#" class="card-link disabled-link">Tickers (y mercados)</a>
        
      </div>
    </div>
</div>


  <div class="col-6">
    <div class="card  h-100">
      <div class="card-header text-dark bg-warning">
        Mantenimiento
      </div>
      <div class="card-body">
        <a href="#" class="card-link disabled-link" title="Analiza y valida los datos locales (localStorage) y los datos almacenados (DB y nube)">
          Análisis de integridad de datos (localStorage, DB y nube)</a>
        <br>
        <a href="#" class="card-link disabled-link" title="Valida la integridad de datos en localStorage">
          Validación e integridad de archivos temporales</a>
          <br>
        <a href="#" class="card-link disabled-link">Backup</a>
        <br>
        <a href="#" class="card-link disabled-link">Importar datos</a>
        <br>
        <a href="#" class="card-link disabled-link">Exportar datos</a>
      </div>
    </div>
</div>

</div>


<!-- ---------------------------------------------------------------------------- -->
